body {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.score {
  margin-top: 100px;
}
